

/* Fonte padrão */
body {
    font-family: 'Inter', sans-serif;
}


a {
    transition: all 0.3s ease;
}


.font-serif {
    font-family: 'Playfair Display', serif;
}

.hero-bg-solid {
    background-color: #1b1b1b;
}

.parallax-bg {
    /* Imagem de fundo padrão para todos os dispositivos */
    
    background-image: url('../imagens/Fundo_site.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Aplica o efeito parallax (background-attachment: fixed) APENAS em telas com largura mínima de 768px (tablets e desktops) */
@media (min-width: 768px) {
    .parallax-bg {
        background-attachment: fixed;
    }
}









